<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Garage v.p{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/styles.css') }}">
    <script src="{{ asset('js/filrepetiteannonces.js') }}" defer></script>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{{ asset('images/logo.png') }}" alt="Garage Auto">
            </div>
            <nav>
                <ul>
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                     <li><a href="{{ path('app_services') }}">Découvrez nos services</a></li>
                    {#<li><a href="{{ path('registration') }}">Inscription</a></li>
                    <li><a href="{{ path('login') }}">Connexion</a></li>#}
                    <li><a href="{{ path('app_contact') }}">Contact</a></li> 
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        {% block content %}
        <!-- Le contenu spécifique aux pages sera inséré ici -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-logo">
                    <img src="{{ asset('images/logo.png') }}" alt="Garage Auto">
                </div>
                <div class="footer-info">
                    <p>Adresse : 123 Rue de l'Aube, Paris</p>
                    <p>Téléphone : 01 23 45 67 89</p>
                    <p>Email : contact@garagevp.fr</p>
                </div>
                <div class="footer-social-media">
                    <a href="#">Facebook</a>
                    <a href="#">Twitter</a>
                    <a href="#">Instagram</a>
                </div>
                <div class="footer-legal">
                    <p>Mentions légales</p>
                    <p>Politique de confidentialité</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>




