{# templates/contact.html.twig #}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Contact{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('styles/index.css') }}">
    </head>

    <body>
        
        <header>
        
            <div class="header-container">
            
                <div class="logo">
                    <img src="{{ asset('images/logo.png') }}" alt="Garage Auto">
                </div>
                <nav>
                    <ul>
                        <li><a href="{{ path('app_home') }}">Accueil</a></li>
                        <li><a href="{{ path('app_services') }}">Découvrez nos services</a></li>
                        <li><a href="{{ path('app_home') }}">Inscription</a></li>
                        <li><a href="{{ path('app_home') }}">Connexion</a></li> 
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <section class="hero">
                <img class"skyline_img" src="{{ asset('images/imgheader.png') }}" alt="Garage Auto" >
                <div class="opacity"></div>
                <div class="hero-content">
                    <h2>Votre expert automobile, de la vente à l'entretien</h2>
                    
                </div>
            </section>

            <div class="contact-container">
                <h1>Contactez-Nous</h1>

                <form action="{{ path('app_contact') }}" method="post">
                    <input type="text" name="nom" placeholder="Votre Nom" required>
                    <input type="email" name="email" placeholder="Votre Email" required>
                    <textarea name="message" placeholder="Votre Message" required></textarea>
                    <button type="submit">Envoyer</button>
                </form>

                <h2>Horaires du Garage</h2>
                <p>Lundi - Vendredi: 8h00 - 20h00<br>samedi:9h00 - 19h </p>
                <h2>Coordonnées</h2>
                <p>Téléphone: 01 23 45 67 89</p>
                <p>Email: contact@garagevp.com</p>
            </div>
        </main>

        <!-- footer -->
        <footer>
            <div class="container">
                <div class="footer-content">
                    <div class="footer-logo">
                        <img src="{{ asset('images/logo.png') }}" alt="Garage Auto">
                    </div>

                    <div class="footer-info">
                        <p>Adresse : 123 Rue de l'Aube, Paris</p>
                        <p>Téléphone : 01 23 45 67 89</p>
                        <p>Email : contact@garagevp.fr</p>
                    </div>

                    <div class="footer-social-media">
                        <a href="#">Facebook</a>
                        <a href="#">Twitter</a>
                        <a href="#">Instagram</a>
                    </div>

                    <div class="footer-legal">
                        <p>Mentions légales</p>
                        <p>Politique de confidentialité</p>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>

